.main-nav
{
	width: 70%;
	height: 90%;
	border: 6px solid black;
	margin: 0 auto;
}

.desc
{
	font-size: 16px;
	font-size:1.6em;
}


#rectangle {
	text-align: center;
	width: 90%;
	height: 45px;
	border: 3px solid black;
	background: none;
}

.helper
{
	margin-right:5px;
}

.image
{
 text-align: center;
}

.bigtitle
{
	font-family: courier;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	margin: 0;
}

.smalltitle
{
font-family: courier;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	margin: 0;	
}

.title
{
	font-family: courier;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-size: 1.4em;
	margin: 0;
}

.carousel-indicators li
{
	background-color:red;
	}

.carousel-indicators .active
{
	background-color:blue;

}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
   margin-bottom:50px;
}


li.class-list-item
{
    list-style-type: none;

}