
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<link rel="stylesheet" href="carousel.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item  >p ,
  .carousel-inner > .item > p {
      width: 70%;
      margin: auto;
  }
  </style>
</head>
<body>
<p class="bigtitle">This Week's Upcomming Films</p>  
    <div class="container">
      <br>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
    
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
                      
                      <div class="main-nav">
                      <ul cass= "navigation-list">
                    <li class = "class-list-item">
                      <p class="title"> Wednesday November 10th</p>
                      <div style="text-align: center"><img src="http://images.fandango.com/r98.6/ImageRenderer/164/250/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/491/lastcrusade_lg.jpg" height="50%" width="300">
                         </img src></div>
                           <div>
                         <p class="title"> Indiana Jones, 1997</p>
                          <div id="rectangle" style="text-align: center">
                         <img src="https://timewellness.files.wordpress.com/2012/09/tomato.jpg?w=480&h=320&crop=1" height="33" width="44"><spam class="smalltitle"> Rotten Tomatoes 85%</spam></img> 
                          <img src ="https://lh6.ggpht.com/MtF04Pq9Y3aByxh_hfjaXg3P9SI6eo-kWO9c3qp7keLWrqQlnGiO8DyeLwAkvO7BA94=w300" height="33" width="44"><spam class="smalltitle"> Fandango 45%</spam></img> 
                        </div>
                          <div class="helper">
                          <p class="desc">This is a description of the movie, all I know is that there's a ride at Disneyland for it. This is a description of the movie, all I know is that there's a ride at Disneyland for it This is a description of the movie, all I know is that there's a ride at Disneyland for it This is a description of the movie, all I know is that there's a ride at Disneyland for it  </p> </div>
                              </div>
                            </div>
                            </li>
                          </ul>
                        </div>  
                   

          <div class="item">
               <div class="main-nav">
                      <ul cass= "navigation-list">
                    <li class = "class-list-item">
                      <p class="title"> Wednesday November 10th</p>
                      <div style="text-align: center"><img src="http://images.fandango.com/r98.6/ImageRenderer/164/250/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/491/lastcrusade_lg.jpg" height="50%" width="300">
                         </img src></div>
                           <div>
                         <p class="title"> Indiana Jones, 1997</p>
                          
                          <img src="https://timewellness.files.wordpress.com/2012/09/tomato.jpg?w=480&h=320&crop=1" height="33" width="44"><spam> 85%</spam></img> 
                          <img src ="https://lh6.ggpht.com/MtF04Pq9Y3aByxh_hfjaXg3P9SI6eo-kWO9c3qp7keLWrqQlnGiO8DyeLwAkvO7BA94=w300" height="33" width="44"><spam> 45%</spam></img> 

                          <div class="helper">
                          <p class="desc">This is a description of the movie, all I know is that there's a ride at Disneyland for it. This is a description of the movie, all I know is that there's a ride at Disneyland for it This is a description of the movie, all I know is that there's a ride at Disneyland for it This is a description of the movie, all I know is that there's a ride at Disneyland for it  </p> </div>
                              </div>
                            </div>
                            </li>
                          </ul>
                        </div>  
      

          <div class="item">
            <p>HALLO3</p>
          </div>

          <div class="item">
            <p>HALLO4</p>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    </body>
    </html>


